<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.account.mapper.SessionGroupMapper" >
  <resultMap id="BaseResultMap" type="com.org.account.model.SessionGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appkey" property="appkey" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="INTEGER" />
    <result column="group_identity" property="groupIdentity" jdbcType="VARCHAR" />
    <result column="related_session_ids" property="relatedSessionIds" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, appkey, channel, group_identity, related_session_ids, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from session_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from session_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.org.account.model.SessionGroup" >
    insert into session_group (id, appkey, channel, 
      group_identity, related_session_ids, created_at, 
      updated_at)
    values (#{id,jdbcType=INTEGER}, #{appkey,jdbcType=VARCHAR}, #{channel,jdbcType=INTEGER}, 
      #{groupIdentity,jdbcType=VARCHAR}, #{relatedSessionIds,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.org.account.model.SessionGroup" >
    insert into session_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appkey != null" >
        appkey,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="groupIdentity != null" >
        group_identity,
      </if>
      <if test="relatedSessionIds != null" >
        related_session_ids,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appkey != null" >
        #{appkey,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=INTEGER},
      </if>
      <if test="groupIdentity != null" >
        #{groupIdentity,jdbcType=VARCHAR},
      </if>
      <if test="relatedSessionIds != null" >
        #{relatedSessionIds,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.org.account.model.SessionGroup" >
    update session_group
    <set >
      <if test="appkey != null" >
        appkey = #{appkey,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=INTEGER},
      </if>
      <if test="groupIdentity != null" >
        group_identity = #{groupIdentity,jdbcType=VARCHAR},
      </if>
      <if test="relatedSessionIds != null" >
        related_session_ids = #{relatedSessionIds,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.org.account.model.SessionGroup" >
    update session_group
    set appkey = #{appkey,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=INTEGER},
      group_identity = #{groupIdentity,jdbcType=VARCHAR},
      related_session_ids = #{relatedSessionIds,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>